@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/*------Webpage layout for Mobile Small Screens-----*/
@media screen and (min-device-width: 200px) {
    .container {
        width: 85%;
        margin: 0 auto;
        padding: 1em;
        height: auto;
        min-width: 400px;
        max-width: 500px;
    }

    .map {
        display: none;
    }

    h1 {
        text-align: left;
        line-height: 1.25em;
        font-size: 2em;
    }

    h4 {
        margin-left: 0;
        font-size: 1em
    }

    .legend {
        display: none;
    }

    .header {
        width: 100%;
        font-size: .8em;
        padding-bottom: 15px;
        line-height: .75em;
        border-top: 1px dotted #BDCEDA;
        border-bottom: 1px dotted #BDCEDA;
    }

    .header img {
        display: inline;
        padding: 0;
        width: 30px;
    }

    .header span {
        text-align: center;
        padding-bottom: 10px;
    }

    .text {
        width: 100%;
        font-size: .80em;
        margin-top: 20px;
    }

    .frame {
        width: 100%;
        border-top: 1px dotted #BDCEDA;
        display: inline-block;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .filter {
        float: left;
        width: 80%;
        text-align: left;
        display: block;
        height: 30px;
        background-color: #BDCEDA;
        border: 0;
        font-size: .75em;
        font: white;
        padding-left: 5px
    }

    .slidecontainer {}

    .container .tweets {
        width: 100%;
    }

    .container .output {
        display: block;
        float: none;
        width: 100%;
        padding: 4px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .twittercontainer {
        margin-left: 0px;
        border-top: 1px dotted #BDCEDA
    }

    .container.output {
        float: left;
        font-size: .75em;
        display: inline;
        width: 100%;
    }

    .numero span {
        border-radius: 20px;
        width: 25px;
        height: 25px;
        background: #BDCEDA;
        font-family: Verdana;
        font-weight: bold;
        color: white;
        font-size: 1.75em;
        vertical-align: middle;
        float: left;
        margin-right: 10px;
    }

    #dateoutput, #hashtagoutput, #trendingoutput {
        color: red;
        margin-left: 5px;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    .container.tweets {
        margin-left: 0px;
        padding: 0px;
    }
}

/*------Webpage layout for Medium Size-----*/
@media screen and (min-width: 676px) and (max-width: 1100px) {
    h1, h2, h4 {
        text-align: left;
        line-height: 1em;
    }

    h1 {
        margin-top: 8%;
    }

    h4 {
        margin-top: 2%;
        display: inline;
        width: 49%;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .container {
        max-width: 900px;
    }

    .header {
        border-top: 1px dotted #BDCEDA;
        border-bottom: 1px dotted #BDCEDA;
    }

    .header img {
        padding: 0;
        width: 30px;
    }

    .header span {
        float: right;
        display: inline-flex;
        width: 49%;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .numero {
        width: 80%;
        display: inline;
        height: 45px;
        padding: 0px;
        font-size: 1em;
    }

    .numero span {
        border-radius: 20px;
        width: 25px;
        height: 25px;
        background: #BDCEDA;
        font-family: Verdana;
        font-weight: bold;
        color: white;
        font-size: 1.75em;
        vertical-align: middle;
        float: left;
        margin-right: 10px;
    }

    .container {
        width: 90%;
        margin: 10 auto;
        padding: 1em;
        height: auto;
        max-width: 1000px
    }

    .map {
        border-bottom: 1px dotted #bdceda;
        display: inline;
    }

    .frame {
        width: 100%;
        margin: auto 0;
    }

    .filter {
        float: right;
        width: 60%
    }

    .text {
        width: 95%;
        font-size: .85em;
        padding-bottom: 20px;
        column-count: 2;
    }

    .legend {
        width: 50px;
        height: 50px;
        background-color: #BDCEDA;
        z-index: 1;
        display: inline;
    }
}

/*------ Webpage Layout ------Big Screens*/
@media only screen and (min-device-width: 1101px) {
    h1 {
        text-align: left;
        line-height: 1em;
        font-size: 3em;
        margin-bottom: 1%;
        margin-top: 2%
    }

    h2 {
        display: block;
        border-top: 1px dotted #BDCEDA;
        width: 100%;
        padding-top: 10px;
    }

    h4 {
        text-align: left;
        margin-left: 1%;
        margin-top: 3px;
        display: inline-flex;
        margin-bottom: 5px;
    }

    .container {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 1400px
    }

    .map {
        width: 64%;
        float: right;
        padding-left: 10px;
        border-left: 1px solid #bdceda;
        margin-bottom: 0px;
        display: block;
        z-index: 0
    }

    .header {
        border-top: 1px dotted #BDCEDA;
        border-bottom: 1px dotted #BDCEDA;
        width: 100%;
        margin: 0 auto;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 10px
    }

    .header img {
        height: 15px;
        display: inline-flex;
        padding: 0;
    }

    .header span {
        display: inline-flex;
        float: right;
        margin-right: 15px;
        padding-top: 3px;
    }

    .text {
        height: 100%;
        width: 33%;
        font-size: .8em;
        display: block;
        line-height: 1.5;
        padding-bottom: 10px;
        height: 100%;
        padding-top: 0px;
        margin-right: 10px;
        padding-right: 10px;
    }

    .legend {
        width: 22px;
        height: 100px;
        width: 150px;
        background-color: #BDCEDA;
        position: absolute;
        z-index: 0;
        display: inline;
        left: 575px;
        top: 500px;
    }

    .container.output {
        float: initial;
        width: 10px;
    }

    #dateoutput, #hashtagoutput, #trendingoutput {
        color: red;
        width: 180px;
        display: inline-block;
    }

    .filter {
        width: 33%;
        display: block;
        float: right;
        padding-left: 5px;
        margin-top: 0px
    }

    .frame {
        border-top: 1px dotted #BDCEDA;
        width: 30%;
        display: inline-block;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .numero {
        font-size: 1em;
        display: inline-flex;
    }

    .numero span {
        border-radius: 20px;
        width: 25px;
        height: 25px;
        background: #BDCEDA;
        font-family: Verdana;
        font-weight: bold;
        color: white;
        font-size: 1.5em;
        vertical-align: middle;
        float: left;
        margin-right: 10px;
    }

    .slidecontainer {
        display: inline;
        height: 40px;
        float: right;
        width: 60%;
    }

    .container.contenttext {
        border-top: 1px dotted #BDCEDA;
        width: 100%
    }

    .twittercontainer {
        width: 100%;
        margin: 0 auto;
        padding-top: 0px;
        border-top: 1px dotted #BDCEDA;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* ------- Luca Code ------*/
.calendar {
    margin-top: 0px;
    float: right;
    height: 100%;
}

li {
    display: inline;
    line-height: 2em;
    padding: 10px;
    border-style: inset;
}

.datebutton {
    background-color: #BDCEDA;
    border: none;
    font-size: .75em;
    width: 20px;
    padding: 4px;
}

.output {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.output p {
    display: inline;
}

blockquote.twitter-tweet {}

#threetweetdisplaybox {
    position: relative;
    background-color: #F8F7F7;
    float: left;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}

.output p {
    display: inline;
    /*keeps everything horizontal in the output text for Date: and Hashtag:
}